packages:
  yum:
    aws-kinesis-agent: []

files:
  "/etc/aws-kinesis/agent.json":
    content: |
      {
        "cloudwatch.emitMetrics": true,
        "firehose.endpoint": "firehose.<region>.amazonaws.com",
        "flows": [
          {
            "filePattern": "/var/log/nginx/access.log*",
            "deliveryStream": "nginx_access_log_stream",
            "dataProcessingOptions": [
              {
                "optionName": "LOGTOJSON",
                "logFormat": "COMBINEDAPACHELOG",
                "matchPattern": "^([\\d.]+) (\\S+) (\\S+) \\[([\\w:/]+\\s[+\\-]\\d{4})\\] \"(.+?) (.+?) (.+?)\" (\\d{3}) (\\d+) \"(.+?)\" \"(.+?)\" \"(.+?)\"",
                "customFieldNames": [
                  "host",
                  "ident",
                  "authuser",
                  "timestamp",
                  "method",
                  "request",
                  "httpversion",
                  "status",
                  "bytes",
                  "referer",
                  "agent",
                  "http_x_forwarded_for"
                ]
              }
            ]
          },
          {
            "filePattern": "/var/log/nginx/error.log*",
            "deliveryStream": "nginx_error_log_stream",
            "dataProcessingOptions": [
              {
                "optionName": "LOGTOJSON",
                "logFormat": "APACHEERRORLOG",
                "matchPattern": "^(\\d{4}\/\\d{2}\/\\d{2} \\d{2}:\\d{2}:\\d{2}) \\[(\\w+)\\] (\\d+).(\\d+): (.+), client: (.+), server: ([^\\]]*), request: \"(.+) (.+) (.+)\", upstream: \"(.+)\", host: \"(.+)\"",
                "customFieldNames": [
                  "timestamp",
                  "log_level",
                  "pid",
                  "tid",
                  "error",
                  "client",
                  "server",
                  "method",
                  "request",
                  "httpversion",
                  "upstream",
                  "host"
                ]
              }
            ]
          },
          {
            "filePattern": "/var/log/nodejs/nodejs.log*",
            "deliveryStream": "nodejs_log_stream",
            "dataProcessingOptions": [
              {
                "optionName": "LOGTOJSON",
                "logFormat": "SYSLOG",
                "matchPattern": "^(\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}.\\d{3}Z) - (.+?): (.+)",
                "customFieldNames": [
                  "timestamp",
                  "log_level",
                  "log"
                ] 
              }
            ]
          }
        ]
      }

container_commands:
  01_create_dummy_nginx_access_log_file:
    command: touch /var/log/nginx/access.log.dummy
  02_create_dummy_nginx_error_log_file:
    command: touch /var/log/nginx/error.log.dummy
  03_create_dummy_nodejs_log_file:
    command: touch /var/log/nodejs/nodejs.log.dummy
  04_start_kinesis_agent:
    command: sudo service aws-kinesis-agent restart
  05_automatically_start_the_agent_on_system_startup:
    command: sudo chkconfig aws-kinesis-agent on